#main{
    margin: 150px auto;
    /* background-color: cornflowerblue; */
    padding: 80px  20px;
    max-width: 70%;
    max-height: 50%;
}

button{
    padding: 12px 10px;
    max-width: 60%;
    max-height: 50%;
    /* display: block; */
    font-size: 12px;

}

i{
    color: crimson;
}

#author{
    text-transform: capitalize;
    display: block;
    font-size: 16px;
}

h3{
    padding: 1px;
    font-size: 18px;
}