body{
    background: url(quote.jpg);
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
}

#main{
    margin: 250px auto;
    /* background-color: cornflowerblue; */
    padding: 80px;
    max-width: 80%;
    max-height: 100%;
    /* opacity: 1; */
}

.butt{
    text-align: center;
}

button{
    border: 1px solid red;
    border-radius: 5px;
    max-width: 50%;
    max-height: 50%;
    padding: 20px;
    margin-bottom: 1rem;
    font-size: 18px;
    font-family: cursive;
}

i{
    color: crimson;
}

#author{
    text-transform: capitalize;
    float: right;
    color: rgb(143, 15, 41);
}

h3{
    padding: 10px;
    color: white;
}